* {
  font-size: 0;
  width: 800px;
}

.top {
  height: 200px;
  width: 800px;
  display: inline-block;
}

.bottom {
  width: 800px;
  height: 300px;
  display: inline-block;
}

.box{
  border: 1px solid black;
}

.boxes {
  width: 50%;
  height: 200px;
  display: inline-block;
}
.green {
  background-color: green;
}

.blue {
  background-color: blue;
}


.one {
  width: 33%;
  background-color: grey;
}

.two {
  width: 33%;
  background-color: black;
}

.three {
  width: 33%;
  background-color: orange;
}